{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    }
  },
  "plugins": [
    "react",
    "flowtype",
    "react-hooks",
  ],
  "globals": {
    "document",
    "window",
    "Image",
    "Node",
    "YT",
    "FB",
  },
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
  ],
  "rules": {
    "no-bitwise": [0, {
      "allow": ["~"],
      "int32Hint": true,
    }],
    "react/jsx-closing-bracket-location": [2, {
      "nonEmpty": "after-props",
      "selfClosing": "after-props",
    }],
    "react/jsx-filename-extension": [0],
    "comma-dangle": [2, "always-multiline"],
    "jsx-a11y/label-has-for": [0],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.6.3",
    },
  }
}
