{
  "presets": [
    ["@babel/preset-env", {
      "targets": "cover 99.5%, not dead"
    }],
    "@babel/react",
    "@babel/flow",
  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator"
  ],
}
