textarea.artibox-input::-webkit-input-placeholder {
  color: #DBDBDB;
  font-weight: 300;
  letter-spacing: 1px;
}

textarea.artibox-input::-moz-placeholder {
  color: #DBDBDB;
  font-weight: 300;
  letter-spacing: 1px;
}

textarea.artibox-input::-ms-input-placeholder {
  color: #DBDBDB;
  font-weight: 300;
  letter-spacing: 1px;
}

textarea.artibox-input::placeholder {
  color: #DBDBDB;
  font-weight: 300;
  letter-spacing: 1px;
}

.artibox-tooltip-btn path {
  transition: fill .2s ease-out;
}
